.container {
    margin-top: 12px;
    color: white;
}

div.box {
    height: auto;
    width: 100%;
    border: 3px solid rgb(242, 243, 242);
    border-radius: 14px;
    padding: 10px;
    box-sizing: border-box;
}

